.App {
  text-align: center;
  margin-left: 40px;
}

table tr td {
  width: 200px;
  text-align: left;
  margin-left: 20px;
}

table tr {
  height: 80px;
}

span {
  display: inline-block;
  width: 30px;
  height: 15px;
  margin-right: 10px;
  border-radius: 3px;
}
#ios {
  background-color: cyan;
}
#android {
  background-color: purple;
}

/* Loading animation */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #000;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  top: 43%;
  left: 130px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
