.App {
  text-align: center;
  margin-left: 40px;
}

table tr td {
  width: 200px;
  text-align: left;
  margin-left: 20px;
}

table tr {
  height: 80px;
}

span {
  display: inline-block;
  width: 30px;
  height: 15px;
  margin-right: 10px;
  border-radius: 3px;
}
#ios {
  background-color: cyan;
}
#android {
  background-color: purple;
}
